<div class="table-block">
  <h1 style="text-align: center">Новые заявки</h1>
  <div>
    <button mat-raised-button color="primary" [routerLink]="['/new-order']">+ Новая заявка</button>
  </div>
  <table class="table" style="margin-top: 10px;">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Название</th>
      <th scope="col">Код-клиента</th>
      <th scope="col">Статус</th>
      <th scope="col">Действия</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let product of listProducts">
      <th scope="row">{{product.id}}</th>
      <td>{{product.itemName}}</td>
      <td>
        {{product.itemCode}}
      </td>
      <td>
        <ng-container [ngSwitch]="product.status">
          <ng-template ngSwitchCase="0"><p class="status-code">Новая Заявка</p></ng-template>
          <ng-template ngSwitchDefault></ng-template>
        </ng-container>
      </td>
      <td>
        <button mat-stroked-button class="accept-button" (click)="updateStatus(product.itemCode)">Принять</button>
        <button style="margin-left: 5px" mat-stroked-button color="primary" [routerLink]="['/order', product.id]">Просмотр</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>

