.detail-page {
  display: flex;
  justify-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}
.example-form {
  display: flex;
  flex-direction: column;
  width: 900px;
}
.two-inputs {
  display: flex;
  justify-content: space-between;
}
.two-inputs .example-full-width {
  width: 45%;
}
.top-blocks {
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;

}
.w-50 {
  width: 50%;
}
.example-button-row {
  display: flex;
  justify-content: space-between;
}
.barcode__block {
  display: flex;
  align-items: center;
}
