<div class="table-block">

  <form class="filter-block" [formGroup]="form">
    <div class="filter-inputs">
      <mat-form-field>
        <mat-label>Код клиента</mat-label>
        <input matInput placeholder="123465789" formControlName="barcode">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Номер телефона</mat-label>
        <input type="tel" matInput placeholder="777-777-77-77" formControlName="phone">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Город</mat-label>
        <mat-select formControlName="cityId">
          <mat-option *ngFor="let city of cities" [value]="city.id">
            {{city.name}}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Вес</mat-label>
        <input matInput formControlName="itemWeight">
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Цена</mat-label>
        <input matInput type="number" formControlName="itemPrice">
        <mat-icon matTextSuffix>₸</mat-icon>
      </mat-form-field>

      <mat-form-field class="example-full-width">
        <mat-label>Статус заказа</mat-label>
        <mat-select formControlName="status">
          <mat-option [value]="0">Новый заказ</mat-option>
          <mat-option [value]="1">Заказ принят</mat-option>
          <mat-option [value]="2">Заказ на складе</mat-option>
          <mat-option [value]="3">Выдан</mat-option>
          <mat-option [value]="4">Отмена</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="example-button-row">
      <button mat-raised-button color="warn" (click)="form.reset()">Очистить</button>
      <button mat-raised-button color="primary" (click)="search()">Поиск</button>
    </div>

  </form>


  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> No. </th>
      <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>
    </ng-container>

    <ng-container matColumnDef="itemName">
      <th mat-header-cell *matHeaderCellDef> Название </th>
      <td mat-cell *matCellDef="let element"> {{element.itemName}} </td>
    </ng-container>

    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef> Название </th>
      <td mat-cell *matCellDef="let element"> {{element?.client?.username}} </td>
    </ng-container>

    <ng-container matColumnDef="itemCity">
      <th mat-header-cell *matHeaderCellDef> Город </th>
      <td mat-cell *matCellDef="let element"> {{element?.city.name}} </td>
    </ng-container>

    <ng-container matColumnDef="itemWeight">
      <th mat-header-cell *matHeaderCellDef> Вес </th>
      <td mat-cell *matCellDef="let element"> {{element.itemWeight}} </td>
    </ng-container>

    <ng-container matColumnDef="costPerUnit">
      <th mat-header-cell *matHeaderCellDef> Цена (₸) </th>
      <td mat-cell *matCellDef="let element"> {{element.costPerUnit}} </td>
    </ng-container>

    <ng-container matColumnDef="itemCode">
      <th mat-header-cell *matHeaderCellDef> Код-клиента </th>
      <td mat-cell *matCellDef="let element"> {{element.itemCode}} </td>
    </ng-container>

    <ng-container matColumnDef="createDate">
      <th mat-header-cell *matHeaderCellDef> Дата создния </th>
      <td mat-cell *matCellDef="let element"> {{element.createDate | dateFormat}} </td>
    </ng-container>

    <ng-container matColumnDef="status">
      <th mat-header-cell *matHeaderCellDef> Статус </th>
      <td mat-cell *matCellDef="let element">
        <p style="color: #f00; font-weight: 700" class="mat-h3">Потерян</p>
      </td>

    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef style="width: 250px"> Действия </th>
      <td mat-cell *matCellDef="let element">
        <button mat-stroked-button color="primary" [routerLink]="['/order', element.id]">Изменить</button>
        <button style="margin-left: 5px" mat-stroked-button color="warn">Удалить</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>

</div>

